*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gsm-commands
/notes
/scenario1.bash
/scenario2.bash
/scenario3.bash
/scenario4.bash
/scenario5.bash
